<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
</head>
<body>

    <div id="app">
        <section>
            <h1>enter url</h1>
                <ul>
                    <li>
                        <input type="text" name="input_url" id="input_url">
                    </li>
                    <li>
                        <a href="#" id="short_url">Short Url</a><a href="#" id="long_url">Long Url</a>
                    </li>
                    <li>
                        
                    </li>
                </ul>

                <textarea name="" id="textOut" cols="30" rows="10" wrap="hard"></textarea>
        </section>
    </div>
</body>
</html>